<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ig.device.domain.mapper.material.querymapper.ICheckParametersQueryMapper" >
  <resultMap id="BaseResultMap" type="ig.device.domain.viewmodel.material.CheckParametersViewModel" >
    <constructor >
      <idArg column="checkParametersID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="checkParametersName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="checkParametersValue" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="materialModelID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    checkParametersID, checkParametersName, checkParametersValue, materialModelID
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkParameters
    where checkParametersID = #{checkParametersID,jdbcType=INTEGER}
  </select>
  
  <select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkParameters
  </select>
  
  <select id="findMaterialModel" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkParameters
    where materialModelID = #{2} limit #{0}, #{1}
  </select>
  
  <select id="findmmCount" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select 
    count(1)
    from checkParameters
    where materialModelID = #{materialModelID,jdbcType=INTEGER}
  </select>
  
</mapper>