<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ig.device.domain.mapper.fault.IStoppageInvoiceMapper" >
  
  <delete id="remove" parameterType="java.lang.Integer" >
    update stoppage set availability1 = 0
    where faultID = #{faultID,jdbcType=INTEGER}
  </delete>
  
  <insert id="add" parameterType="ig.device.domain.model.fault.StoppageInvoice" useGeneratedKeys="true" keyProperty="faultID">
    insert into stoppage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="faultID != null" >
        faultID,
      </if>
      <if test="faultState != null" >
        faultState,
      </if>
      <if test="faultPhenomena != null" >
        faultPhenomena,
      </if>
      <if test="faultNo != null" >
        faultNo,
      </if>
      <if test="handleMethod != null" >
        handleMethod,
      </if>
      <if test="repairID != null" >
        repairID,
      </if>
      <if test="repairName != null" >
        repairName,
      </if>
      <if test="faultType != null" >
        faultType,
      </if>
      <if test="itemCode != null" >
        itemCode,
      </if>
      <if test="availability1 != null" >
        availability1,
      </if>
      <if test="createPeopleId != null" >
        createPeopleId,
      </if>
      <if test="createPeopleName != null" >
        createPeopleName,
      </if>
      <if test="approvePeopleId != null" >
        approvePeopleId,
      </if>
      <if test="approvePeopleName != null" >
        approvePeopleName,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="faultID != null" >
        #{faultID,jdbcType=INTEGER},
      </if>
      <if test="faultState != null" >
        #{faultState,jdbcType=INTEGER},
      </if>
      <if test="faultPhenomena != null" >
        #{faultPhenomena,jdbcType=VARCHAR},
      </if>
      <if test="faultNo != null" >
        #{faultNo,jdbcType=VARCHAR},
      </if>
      <if test="handleMethod != null" >
        #{handleMethod,jdbcType=VARCHAR},
      </if>
      <if test="repairID != null" >
        #{repairID,jdbcType=INTEGER},
      </if>
      <if test="repairName != null" >
        #{repairName,jdbcType=VARCHAR},
      </if>
      <if test="faultType != null" >
        #{faultType,jdbcType=INTEGER},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=INTEGER},
      </if>
      <if test="availability1 != null" >
        #{availability1,jdbcType=TINYINT},
      </if>
      <if test="createPeopleId != null" >
        #{createPeopleId,jdbcType=TINYINT},
      </if>
      <if test="createPeopleName != null" >
        #{createPeopleName,jdbcType=TINYINT},
      </if>
      <if test="approvePeopleId != null" >
        #{approvePeopleId,jdbcType=TINYINT},
      </if>
      <if test="approvePeopleName != null" >
        #{approvePeopleName,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="ig.device.domain.model.fault.StoppageInvoice" >
    update stoppage
    <set >
      <if test="faultState != null" >
        faultState = #{faultState,jdbcType=INTEGER},
      </if>
      <if test="faultPhenomena != null" >
        faultPhenomena = #{faultPhenomena,jdbcType=VARCHAR},
      </if>
      <if test="faultNo != null" >
        faultNo = #{faultNo,jdbcType=VARCHAR},
      </if>
      <if test="handleMethod != null" >
        handleMethod = #{handleMethod,jdbcType=VARCHAR},
      </if>
      <if test="repairID != null" >
        repairID = #{repairID,jdbcType=INTEGER},
      </if>
      <if test="repairName != null" >
        repairName = #{repairName,jdbcType=VARCHAR},
      </if>
      <if test="faultType != null" >
        faultType=#{faultType,jdbcType=INTEGER},
      </if>
      <if test="itemCode != null" >
        itemCode=#{itemCode,jdbcType=INTEGER},
      </if>
      <if test="availability1 != null" >
        availability1=#{availability1,jdbcType=TINYINT},
      </if>
      <if test="createPeopleId != null" >
        createPeopleId=#{createPeopleId,jdbcType=TINYINT},
      </if>
      <if test="createPeopleName != null" >
        createPeopleName=#{createPeopleName,jdbcType=TINYINT},
      </if>
      <if test="approvePeopleId != null" >
        approvePeopleId=#{approvePeopleId,jdbcType=TINYINT},
      </if>
      <if test="approvePeopleName != null" >
        approvePeopleName=#{approvePeopleName,jdbcType=TINYINT},
      </if>
    </set>
    where faultID = #{faultID,jdbcType=INTEGER}
  </update>
</mapper>