<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ig.device.domain.mapper.maintain.querymapper.IMaintainRouteDeviceQueryMapper" >
  <resultMap id="BaseResultMap" type="ig.device.domain.viewmodel.maintain.MaintainRouteDeviceViewModel" >
    <constructor >
      <idArg column="maintainRouteDeviceID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="maintainRouteID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="maintainRouteDeviceName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sequence" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="itemID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="deviceAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="maintainApproachID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="availability" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    maintainRouteDeviceID, maintainRouteID, maintainRouteDeviceName, sequence, itemID, 
    deviceAddress, maintainApproachID, availability, description
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from maintainRouteDevice
    where maintainRouteDeviceID = #{maintainRouteDeviceID,jdbcType=INTEGER}
  </select>
   <select id="findByRouteId" resultType="ig.device.domain.viewmodel.maintain.MaintainRouteDeviceViewModel" parameterType="java.lang.Integer" >
    select 
    *
    from maintainRouteDevice
    where maintainRouteID = #{2} and availability=1 limit #{0}, #{1}
  </select>
 
  <select id="countRouteDevice" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		SELECT COUNT(1)FROM maintainRouteDevice
		where maintainRouteID =
		#{maintainRouteID,jdbcType=INTEGER} and availability=1
	</select>
	
	<select id="findListByRouteId" resultType="ig.device.domain.viewmodel.maintain.MaintainRouteDeviceViewModel" parameterType="java.lang.Integer" >
    select 
    *
    from maintainRouteDevice
    where maintainRouteID = #{maintainRouteID,jdbcType=INTEGER} and availability=1
  </select>
</mapper>