<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ig.device.domain.mapper.patrol.IPatrolRouteMapper" >
  <resultMap id="BaseResultMap" type="ig.device.domain.model.patrol.PatrolRoute" >
    <constructor >
      <idArg column="patrolRouteID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="patrolRouteName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="availability" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    patrolRouteID ID, patrolRouteName, availability, description
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from patrolRoute
    where patrolRouteID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from patrolRoute
    where patrolRouteID = #{ID,jdbcType=INTEGER}
  </delete>
   <update id="remove" parameterType="java.lang.Integer">
	update patrolRoute
	set availability = 0
	where patrolRouteID = #{ID,jdbcType=INTEGER}
  </update>
  <insert id="add" parameterType="ig.device.domain.model.patrol.PatrolRoute" >
    insert into patrolRoute ( patrolRouteName, availability, 
      description)
    values ( #{patrolRouteName,jdbcType=VARCHAR}, #{availability,jdbcType=TINYINT}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ig.device.domain.model.patrol.PatrolRoute" >
    insert into patrolRoute
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patrolRouteID != null" >
        patrolRouteID,
      </if>
      <if test="patrolRouteName != null" >
        patrolRouteName,
      </if>
      <if test="availability != null" >
        availability,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patrolRouteID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="patrolRouteName != null" >
        #{patrolRouteName,jdbcType=VARCHAR},
      </if>
      <if test="availability != null" >
        #{availability,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ig.device.domain.model.patrol.PatrolRoute" >
    update patrolRoute
    <set >
      <if test="patrolRouteName != null" >
        patrolRouteName = #{patrolRouteName,jdbcType=VARCHAR},
      </if>
      <if test="availability != null" >
        availability = #{availability,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where patrolRouteID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="ig.device.domain.model.patrol.PatrolRoute" >
    update patrolRoute
    set patrolRouteName = #{patrolRouteName,jdbcType=VARCHAR},
      availability = #{availability,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR}
    where patrolRouteID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>