<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ig.zeus.domain.repository.query.IControllerQueryRepository">
	<resultMap id="BaseResultMap" type="ig.zeus.domain.repository.viewmodel.ControllerViewModel">
		<id column="controllerID" property="controllerid" jdbcType="INTEGER" />
		<result column="moduleID" property="moduleid" jdbcType="INTEGER" />
		<result column="controllerName" property="controllername"
			jdbcType="VARCHAR" />
		<result column="signature" property="signature" jdbcType="VARCHAR" />
		<result column="sequence" property="sequence" jdbcType="INTEGER" />
		<result column="availability" property="availability" jdbcType="BIT" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>
	<delete id="delete" parameterType="java.lang.Integer">
		delete from controller
		where controllerID = #{controllerid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="ig.zeus.domain.repository.viewmodel.ControllerViewModel">
		insert into controller (controllerID, moduleID, controllerName,
		signature, sequence, description,
		availability)
		values (#{controllerid,jdbcType=INTEGER}, #{moduleid,jdbcType=INTEGER},
		#{controllername,jdbcType=VARCHAR},
		#{signature,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR},
		#{availability,jdbcType=BIT})
	</insert>
	<update id="update" parameterType="ig.zeus.domain.repository.viewmodel.ControllerViewModel">
		update controller
		set
		moduleID = #{moduleid,jdbcType=INTEGER},
		controllerName = #{controllername,jdbcType=VARCHAR},
		signature = #{signature,jdbcType=VARCHAR},
		sequence = #{sequence,jdbcType=INTEGER},
		description = #{description,jdbcType=VARCHAR},
	    availability = #{availability,jdbcType=BIT},
		where controllerID = #{controllerid,jdbcType=INTEGER}
	</update>
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select controllerID, moduleID, controllerName, signature, sequence,
		description, availability
		from controller
		where controllerID = #{controllerid,jdbcType=INTEGER}
	</select>
	<select id="findAll" resultMap="BaseResultMap">
		selectcontrollerID, moduleID, controllerName, signature, sequence,
		description, availability
		from controller
	</select>
	<select id="findPageData" parameterType="ig.archer.infrastructure.data.PagingData"
		resultType="ig.zeus.domain.repository.viewmodel.ControllerViewModel">
		select * from controller
		limit #{pageStart}, #{rowCount}
	</select>
</mapper>