<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ig.zeus.domain.repository.query.IModuleQueryRepository" >
  <resultMap id="BaseResultMap" type="ig.zeus.domain.repository.viewmodel.ModuleViewModel" >
    <id column="moduleID" property="moduleid" jdbcType="INTEGER" />
    <result column="moduleName" property="modulename" jdbcType="VARCHAR" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="availability" property="availability" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from module
    where moduleID = #{moduleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ig.zeus.domain.repository.viewmodel.ModuleViewModel" >
    insert into module (moduleID, moduleName, signature, 
      sequence, availability, description
      )
    values (#{moduleid,jdbcType=INTEGER}, #{modulename,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, 
      #{sequence,jdbcType=INTEGER}, #{availability,jdbcType=BIT}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1)FROM module
	</select>
  <update id="update" parameterType="ig.zeus.domain.repository.viewmodel.ModuleViewModel" >
    update module
    set moduleName = #{modulename,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      availability = #{availability,jdbcType=BIT},
      description = #{description,jdbcType=VARCHAR}
    where moduleID = #{moduleid,jdbcType=INTEGER}
  </update>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select moduleID, moduleName, signature, sequence, availability, description
    from module
    where moduleID = #{moduleid,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap" >
    select moduleID, moduleName, signature, sequence, availability, description
    from module
  </select>
  <select id="findPageData" parameterType="ig.archer.infrastructure.data.PagingData"
		resultType="ig.zeus.domain.repository.viewmodel.ModuleViewModel">
		select * from module
		limit #{pageStart}, #{rowCount}
	</select>
  
</mapper>