<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ig.zeus.domain.repository.query.ISystemQueryRespository" >
  <resultMap id="BaseResultMap" type="ig.zeus.domain.repository.viewmodel.SystemViewModel" >
    <id column="systemID" property="systemid" jdbcType="INTEGER" />
    <result column="systemName" property="systemname" jdbcType="VARCHAR" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="availability" property="availability" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
 
   <select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1)FROM system
	</select>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select systemID, systemName, signature, url, availability, description
    from system
    where systemID = #{systemid,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap" >
    select systemID, systemName, signature, url, 
    (select ItemName from sysSetting where SettingName ='availability' and ItemID=availability) availability, description
    from system order by systemID 
  </select>
 <select id="findPageData" parameterType="ig.archer.infrastructure.data.PagingData"
		resultType="ig.zeus.domain.repository.viewmodel.SystemViewModel">
		select systemID, systemName, signature, url,
		(select ItemName from sysSetting where SettingName ='availability' and ItemID=availability) availability, description from system order by systemID
		limit #{pageStart}, #{rowCount} 
	</select>
  <select id="findAllSelect" resultType="ig.zeus.domain.repository.viewmodel.SystemViewModel">
  						SELECT systemID,systemName FROM system order by systemID
  </select>
  <select id="findSystemTree" resultType="ig.zeus.domain.repository.viewmodel.TreeListViewModel">
  SELECT systemID id, '#' parent, systemName TEXT  FROM system  order by systemID
  </select>
</mapper>