<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="ig.device.domain.mapper.patrol.querymapper.IPatrolDeviceQueryMapper">
	<resultMap id="BaseResultMap"
		type="ig.device.domain.viewmodel.patrol.PatrolDeviceViewModel">
		<constructor>
			<idArg column="patrolDeviceID" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="patrolTaskID" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="patrolDeviceName" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="state" jdbcType="TINYINT" javaType="java.lang.Byte" />
			<arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="availability" jdbcType="TINYINT" javaType="java.lang.Byte" />
			<arg column="modelID" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="deviceAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="sequence" jdbcType="INTEGER" javaType="java.lang.Integer" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		patrolDeviceID, patrolTaskID, patrolDeviceName, state, description, availability,
		modelID, deviceAddress, sequence
	</sql>
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from patrolDevice
		where patrolDeviceID =
		#{patrolDeviceID,jdbcType=INTEGER}
	</select>
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from patrolDevice
	</select>
	<select id="findPatrolDeviceByPatrolTaskId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from patrolDevice
		where availability=1  and patrolTaskID=#{2}
		 ORDER BY sequence ASC 
		  limit #{0}, #{1}
	</select>
	<select id="findAllDeviceByPatrolTaskId" resultType="ig.device.domain.viewmodel.patrol.PatrolDeviceViewModel"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from patrolDevice
		where availability=1  and patrolTaskID=#{2}
		 ORDER BY sequence ASC 
		
	</select>
	<select id="countDevice" resultType="java.lang.Integer"
		parameterType="java.lang.Integer">
		SELECT COUNT(1)FROM patrolDevice
		where patrolTaskID =
		#{patrolTaskID,jdbcType=INTEGER} and availability=1
	</select>
</mapper>